.quiz-list-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}

.quiz-list-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,var(--primary-dk), var(--primary-lt), var(--primary-dk));
}
.quiz-card-thumb{
    width: 10rem;
}