.nav-bar-container{
    display: flex;
    background-color: var(--bk-darker);
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar-container a {
    color: white;
    text-decoration: none;
}
.nav-bar-container a:visited{
    color: white;
}
.nav-bar-container a:hover{
    color: red;
    cursor: pointer;
}