@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  margin: 0;
  font-family: var(--roboto-text);
  /* background-color: var(--bk); */
  background-image: url("https://t3.ftcdn.net/jpg/01/85/75/08/360_F_185750874_rTbc977EBOkAS5a8lTCuwJYoUqwT0Zkh.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  color: var(--text-lt);
}


:root{
  /* FONT FAMILIES */
  --roboto-text: 'Roboto', sans-serif;
  --eb-text: 'EB Garamond', serif;
  --header-txt: 'Cairo', sans-serif; 
  --number-txt: 'Orbitron', san-serif;
  
  /* PRIMARY + VARIATIONS */
  --primary-dk: #44318D;
  --primary-lt: #A4B3B6;

  --blue-primary-dk: #1F2833;
  --blue-primary-dk-op: #1f283371;

  /* SECONDARY + VARIATIONS */
  --secondary: #8265A7;
  --secondary-op: #8265a763;
  --secondary-var: #8B80B0;
  --secondary-var-op: #8b80b080;

  --blue-secondary: #45A29E;
  --blue-secondary-op: #45a29d85;
  
  /* BACKGROUND + VARIATIONS */
  --bk: #2A1B3D;
  --bk-darker: #8f8f94;
  --bk-darkest: #6e6f74;
  --bk-darkest-op:#aaabb8b9;

  /* ACCENTS + VARIATIONS */
  --accent: #D93f87;
  --accent-op: #d93f87b0;

  --blue-accent: #66FCF1;

  /* TEXT COLORS + VARIATIONS */
  --text-dk: #BEC8C8;
  --text-lt: rgb(235, 232, 232);
  --text-placeholder: rgb(165, 165, 165);

  /* GENERAL COLORS */
  --white: #fff;
  --black: #000;
  --grey-op: rgba(53, 53, 53, 0.692);
}