body {
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--bk);
  color: var(--text-dk);
}


:root{
  /* PRIMARY + VARIATIONS */
  --primary-dk: #5680E9;
  --primary-lt: #84CEEB;

  /* SECONDARY + VARIATIONS */
  --secondary: #5AB9EA;
  
  /* BACKGROUND + VARIATIONS */
  --bk: #C1C8E4;
  --bk-darker: #adb4ce;

  /* ACCENTS + VARIATIONS */
  --accent: #8860D0;
  --accent-op: #8760d0b7;

  /* TEXT COLORS + VARIATIONS */
  --text-dk: rgb(65, 65, 65);
  /* GENERAL COLORS */
  --white: #fff;
  --black: #000;
}