.user-registration-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-var);
}
/* ! AVATAR AUTH BUTTON */
.avatar-auth-btn{
    margin-top: 1rem;
    background-color: transparent;
    font-size: 1.25rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2.5px solid var(--accent);
    outline: none;
    color: var(--text-lt);
    transition: 0.1s ease-in-out;
}
.avatar-auth-btn:hover{
    background-color: var(--accent);
    cursor: pointer;
}
/* ! REGISTER INPUT */
.reg-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reg-input-container label{
    font-size: 2rem;
    margin-top: 0.5rem;
    
}

.create-user-select{
    font-size: 1.25rem;
    color: var(--text-lt);
    font-family: var(--roboto-text);
    background-color: transparent;
    border: 2px solid var(--secondary-var);
    text-align: center;
    color: var(--text-placeholder);
    padding: 0.5rem 1rem;
}
.create-user-select:focus {
    outline: none;
}
.create-user-select:hover{
    cursor: pointer;
    border: 2px solid var(--white);
}

.register-account-btn-container{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
